/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace gis "http://www.asiainfo-linkage.com.cn/flex/gis";

/*gis|MapWork{
	toolBarBackgroundColor:#154365;
	toolBarBackgroundAlpha:0.8;
	toolBarBorderColor:#e0e0e0;
	toolBarBorderAlpha:0.6;
	toolBarSkin:ClassReference("com.ailk.common.ui.gis.tools.skins.black.skin.ToolBarSkin");
	drawToolBarSkin:ClassReference("com.ailk.common.ui.gis.tools.skins.black.skin.DrawToolBarSkin");
}*/
gis|ToolBar{
	skinClass:ClassReference("com.ailk.common.ui.gis.tools.skins.black.skin.ToolBarSkin");
}

gis|DrawToolBar{
	skinClass:ClassReference("com.ailk.common.ui.gis.tools.skins.black.skin.DrawToolBarSkin");
}